*.vcxproj
*.filters
*.user
Common/Common.cpp
Common/framework.h
Common/packages.config
Common/pch.cpp
Common/pch.h
Common/x64/Debug/Common.lib.recipe
Common/x64/Debug/Common.Build.CppClean.log
/Common/x64
/DummyClient/x64
GameServer/packages.config
*.log
*.recipe
/GameServer/x64
GatewayServer/packages.config
GatewayServer/x64/Debug/GatewayServer.ilk
/GatewayServer/x64
/LoginServer/x64
/WorldServer/x64
*.config
/StressTestTool/x64
*.dll
Common/Protocol/protocol.pb.cc
Common/Protocol/protocol.pb.h
Common/Protocol/protocol_grpc.grpc.pb.cc
Common/Protocol/protocol_grpc.grpc.pb.h
Common/Protocol/protocol_grpc.pb.cc
Common/Protocol/protocol_grpc.pb.h
git_copy.bat
